<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="right-panel-edit">




    <div id="right-panel" class="p-3 bg-light border rounded m-3"
         style="display: none; min-width: 300px; position: sticky; top: 20px; height: fit-content">
        <div id="right-panel-drag" style="cursor:move; height:30px; background:#f7f7f7; border-radius:8px 8px 0 0; display:flex; align-items:center; padding-left:12px;">
            <span style="font-size:13px;color:#888;">Mover</span>
        </div>
        <button type="button" id="edit-cancel" class="btn-close position-absolute" style="top: 10px; right: 10px"
                aria-label="Cerrar" onclick="cerrarModalEdicionBloque()"></button>
        <form id="edit-form">
            <div class="mb-2">
                <label for="edit-colaborador" class="form-label">Colaborador</label>
                <select id="edit-colaborador" class="form-select"></select>
            </div>
            <div class="mb-2">
                <label for="edit-fecha" class="form-label">Fecha</label>
                <input type="text" id="edit-fecha" class="form-control">
            </div>
            <div class="mb-2 row">
                <div class="col-12 mb-2">
                    <label class="form-label">Hora inicio (editar)</label>
                    <div class="d-flex">
                        <select id="edit-horaInicioHora" class="form-control me-2"></select>
                        <select id="edit-horaInicioMinuto" class="form-control"></select>
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label">Hora fin (editar)</label>
                    <div class="d-flex">
                        <select id="edit-horaFinHora" class="form-control me-2"></select>
                        <select id="edit-horaFinMinuto" class="form-control"></select>
                    </div>
                </div>
            </div>

            <!-- horario de almuerzo -->
            <div class="mb-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="edit-tiene-almuerzo">
                    <label class="form-check-label" for="edit-tiene-almuerzo">Agregar horario de almuerzo</label>
                </div>
            </div>
            <div class="mb-2 row" id="edit-almuerzo-horas" style="display: none;">
                <div class="col-6">
                    <label class="form-label">Inicio almuerzo</label>
                    <input type="time" class="form-control" id="edit-almuerzo-inicio">
                </div>
                <div class="col-6">
                    <label class="form-label">Fin almuerzo</label>
                    <input type="time" class="form-control" id="edit-almuerzo-fin">
                </div>
            </div>
            <!-- ------------------- -->

            <div class="mb-3">
                <label for="edit-sede" class="form-label">Sede</label>
                <select id="edit-sede" class="form-select">
                    <option th:each="sede : ${listaSedesActivasPorAgrupacion}" th:value="${sede.id}"
                            th:text="${sede.nombre}"></option>
                </select>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle me-1"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#modalRepetir">
                    <i class="bi bi-calendar-plus me-1"></i>
                    Repetir
                </button>
            </div>
        </form>
    </div>



</div>
</body>
</html>