/*HEADER*/
.bg-custom {
  background-color: #2b93a6 !important;
}
.logo-bg {
  background-color: #ffffff; /* blanco */
  border-radius: 6px; /* esquinas redondeadas */
  padding: 3px; /* margen alrededor */
}
.logo-outline {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
}

/*TAMAÑO LETRA MAIN*/
main label, main input, main select, main textarea {
  font-size: 15px !important;
}

/*ESTILOS CONTENEDOR HORARIOS*/
.calendar_default_rowheader_inner {
  background-color: #e7e7e7;
}

.calendar_default_corner {
  position: relative;
}
.calendar_default_corner::after {
  content: "Horas";
  color: #555;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  pointer-events: none;
}

/*HORAS NO LABORABLES EN GRIS*/
.calendar_default_cell .calendar_default_cell_inner {
  background-color: #e7e7e7 !important;
}
/*HORAS LABORABLES ROJIZO*/
.calendar_default_cell_business .calendar_default_cell_inner {
  background-color: #ffe5e5 !important;
}

/* Mostrar "vacío" si la celda está vacía */
.calendar_default_cell_business .calendar_default_cell_inner:empty::after {
  content: "Sin cobertura";
  color: rgb(0, 0, 0);
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  pointer-events: none;
}

/*SIN SCROLL*/
.calendar_default_main div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.calendar_default_main div::-webkit-scrollbar {
  display: none;
}
.calendar_default_main,
.calendar_default_main > div {
  overflow: hidden !important;
}

/*DIAS DE CALENDARIO CON FONDO BLANCO*/
.navigator_default_day {
  background-color: #fff !important;
}

/*MODAL REPETIR*/
#multi-date-picker {
  display: none;
}


.agrupacion-select {
    min-width: 180px;
    background-color: #212529;
    color: #fff;
    border: 1px solid #6c757d;
    font-weight: 500;
    font-size: 1rem;
}
.agrupacion-select:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.15rem rgba(13,110,253,.25);
}


.boton-presionado {
    background-color: #343a40 !important;
    color: #fff !important;
    border-color: #343a40 !important;
}