<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{common/imports :: headImports}"></header>
<body>
<header th:replace="~{common/header :: header}"></header>
<main>
    <script th:inline="javascript">
        let listaSedesActivas = /*[[${listaSedesActivas}]]*/ [];
    </script>
    <div class="container-fluid" style="display: flex">
        <div th:replace="~{gestion-horarios/left-panel :: left-panel-add}"></div>

        <div class="mt-3 ms-3 me-3">
            <div id="calendar"></div>
        </div>

        <div th:replace="~{gestion-horarios/right-panel :: right-panel-edit}"></div>

    </div>
</main>
<div th:replace="~{gestion-horarios/modal-repetir :: modal-repetir}"></div>



<div th:insert="~{common/footer :: footer}"></div>
<th:block th:replace="~{common/imports :: bodyImports}"/>

<script src="/imports/daypilot/daypilot-all.min.js"></script>
<script src="/imports/flatpickr/flatpickr.js"></script>
<script src="/imports/flatpickr/es.js"></script>


<script src="/js/registro-horarios/datos/horas.js"></script>
<script src="/js/registro-horarios/datos/bloque-horarios.js"></script>

<script src="/js/registro-horarios/navigator.js"></script>
<script src="/js/registro-horarios/calendar.js"></script>


<script src="/js/registro-horarios/left-panel/agregar.js"></script>
<script src="/js/registro-horarios/right-panel/eliminar.js"></script>
<script src="/js/registro-horarios/right-panel/editar.js"></script>
<script src="/js/registro-horarios/right-panel/modal-repetir.js"></script>
</body>
</html>
